<div class="col-lg-12 col-md-12 col-sm-12">
    <h4><a href="https://github.com/ctripcorp/dal"  target="_blank">Ctrip DAL是携程框架部开发的数据库访问框架，支持代码生成和水平扩展。</a></h4>
    <h4><a href="https://www.alphams.cn/JZData/AD" target="_blank">全球行政区域接口</a></h4>
</div>