################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/jgsy.robot
/jgsy.robot.blog/Areas/MongoDB/Data/test/trash/TheCrawler/node_modules
/jgsy.robot.blog/Areas/MongoDB/Data/test/trash/TheCrawler/static/node_modules
bin
obj