<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>Git入门</h4>
        <h6><a href="http://www.runoob.com/git/git-tutorial.html" target="_blank">菜鸟教程</a></h6>
        <h6><a href="https://www.w3cschool.cn/git/" target="_blank">w3cschool参考</a></h6>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>Git安装配置</h4>

        <pre>
             操作环境：win10 64位系统
        <a href="https://git-for-windows.github.io/" target="_blank">下载  https://git-for-windows.github.io/</a>
        <a href="https://git-scm.com/download/win/" target="_blank">https://git-scm.com/download/win </a>
        </pre>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h5>下载git</h5>
        <img src="~/Git/20180915/1.png" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h5><a href=" https://jingyan.baidu.com/article/7f766dafba84f04101e1d0b0.html" target="_blank">Git安装参考</a></h5>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h5></h5>
        <img src="~/Git/20180915/2.png" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h5></h5>
        <img src="~/Git/20180915/4.png" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h5></h5>
        <img src="~/Git/20180915/4.png" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h5>   点击Git Bash （桌面应用） 弹出界面如下  </h5>
        <img src="~/Git/20180915/5.png" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h5>
            下面正式开始操作 首先创建一个本地仓库
        </h5>
        <img src="~/Git/20180915/6.png" />
    </div> <div class="col-lg-12 col-md-12 col-sm-12">
        <h5><a href=" http://git.oschina.net/ ">国内的一个git平台 测试用</a> 登陆进去创建一个空项目 </h5>
        <img src="~/Git/20180915/7.png" />
    </div> <div class="col-lg-12 col-md-12 col-sm-12">
        <h5> 创建完后如下图所示，否则清空一下项目</h5>
        <img src="~/Git/20180915/8.png" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h5></h5>
        <img src="~/Git/20180915/9.png" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">

        <img src="~/Git/20180915/10.png" />
        <h5>第一个版本到此成功。</h5>
    </div>
</div>



