
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .robotLNav {
        font-family: 'Microsoft YaHei';
        padding-left: 0;
        padding-right: 0;
    }
        .robotLNav ul {
            margin: 0;
            padding: 0 0 0 10px;
            list-style: none;
            /*border: 1px solid blue;
            border-radius: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;
            -moz-border-radius-bottomright: 6px !important;
            -moz-border-radius-bottomleft: 6px !important;
            -moz-border-radius-topleft: 6px;
            -moz-border-radius-topright: 6px;
            -webkit-border-bottom-left-radius: 6px !important;
            -webkit-border-bottom-right-radius: 6px !important;
            -webkit-border-top-left-radius: 6px;
            -webkit-border-top-right-radius: 6px;*/
        }
        .robotLNav ul li{
          line-height:22px;
          padding-left:10px;
          font-size:14px;

        }
    .robotLNav .col-lg-12, .col-md-12, .col-sm-12 {
        line-height: 45px;
        font-size: large; 
    }
    .robotRNav img{
    width:100%;
    }
</style>
 <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12" >
         <div class="col-lg-3 col-md-3 col-sm-3 robotLNav">
             <div class="col-lg-12 col-md-12 col-sm-12">开发工具</div>
             <div class="robotToggle">
                 <ul>
                     <li class="active">GitHub和VSTS 开源代码双向同步</li> 
                 </ul>
             </div>
         </div> 
         <div class="col-lg-9 col-md-9 col-sm-9 robotRNav">
             <div class="col-lg-12 col-md-12 col-sm-12">
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <h6>1、从头开始，很快就能搞定,基本不会有什么坑.....如果你是大神级人物..嘿嘿..那就开始正题吧！  </h6>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <h6>2、在github上创建一个仓库，有代码先提交。然后再在vsts上创建一仓库，复制github路径，通过导入的方式导入到vsts仓库。  </h6>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <h6>3、注意了 注意了 注意了  重要的事情，要说三遍....在VSTS上创建CI来完成同步配置。  </h6>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <h6>4、 vsts to github 图解如下   <a href="https://blog.csdn.net/ups216/article/details/51549692">配置github  to vsts 参考</a> </h6>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <h6>5、 vsts to github ： git  pull https://github.com/ChengMingXuan/JGSY.Robot.Blog.git master </h6>
                     <h6>    vsts to github ： git  push https://$(bloggithubToken)@github.com/ChengMingXuan/JGSY.Robot.Blog.git head:master </h6>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12"> 
                     <h6>6、 github to vsts ： git pull  https://$(vstsToken)@almnetworks.visualstudio.com/JGSY.Robot.Blog/_git/JGSY.Robot.Blog master </h6>
                     <h6>    github to vsts ： git  push  https://$(vstsToken)@almnetworks.visualstudio.com/JGSY.Robot.Blog/_git/JGSY.Robot.Blog head:master </h6>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/1.png" />
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/2.png" />
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/3.png" />
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/4.png" />
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/4.1.png" />
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/4.2.png" />
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/4.3.png" />
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/4.4.png" />
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/4.5.png" />
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/4.6.png" />
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/4.7.png" />
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/4.8.png" />
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/4.9.png" />
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/4.10.png" />
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/4.11.png" />
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/4.12.png" />

                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/4.13.png" />
                 </div>
                 @*<div class="col-lg-12 col-md-12 col-sm-12">
            <img src="~/vsts/1/20180816/GithubAndVstsSync/4.14.png" />
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <img src="~/vsts/1/20180816/GithubAndVstsSync/4.14.1.png" />
        </div>*@
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <img src="~/vsts/1/20180816/GithubAndVstsSync/4.15.png" />
                 </div>
                 @*<div class="col-lg-12 col-md-12 col-sm-12">
            <img src="~/vsts/1/20180816/GithubAndVstsSync/5.png" />
        </div>*@

                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <h3>友情链接</h3>
                 </div>

                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <a href="https://ke.qq.com/course/list/Asp.NET%20Core2.0%20EF%20Core%20%E9%A1%B9%E7%9B%AE%E5%AE%9E%E6%88%98%E5%85%A5%E9%97%A8%E8%A7%86%E9%A2%91%E6%95%99%E7%A8%8B" target="_blank">  Asp.NET Core2.0 EF Core 项目实战入门视频教程 22年12月过期 35RMB</a>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <a href="https://www.cnblogs.com/ups216/p/5475389.html" target="_blank">https://www.cnblogs.com/ups216/p/5475389.html</a>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12">
                     <a href="" target="_blank"></a>
                 </div>
             </div> 
         </div>
     </div>
 </div>

