@{
    ViewData["Title"] = "联系";
}
<h2>@ViewData["Title"]@Html.Raw("方式")</h2>
<address>
    <strong>QQ:</strong> <a href="javascript:;">838281343</a>  <br />
    <strong>邮箱:</strong> <a href="javascript:;">18810114757@163.com</a>
</address>
<h5 style="color:gray;text-decoration:line-through">@Html.Raw("友情链接")</h5>