<div class="col-lg-12 col-md-12 col-sm-12">
    <h4>连接MongoDB遇到的问题</h4>
    <pre>
   E:\software\MongoDB>mongo 127.0.0.1:27017/blog
    MongoDB shell version v3.4.6
    connecting to: mongodb://127.0.0.1:27017/blog
    MongoDB server version: 3.4.6
    Server has startup warnings:
    2018-09-02T11:09:12.537+0800 I CONTROL  [initandlisten]
    2018-09-02T11:09:12.537+0800 I CONTROL  [initandlisten] ** WARNING: Access control is not enabled for the database.
    2018-09-02T11:09:12.537+0800 I CONTROL  [initandlisten] **          Read and write access to data and configuration is unrestricted.
    2018-09-02T11:09:12.537+0800 I CONTROL  [initandlisten]
</pre>
    <h4>解决方式:创建管理员  </h4>
    <pre>
    <code>&gt; use admin</code>
    <code>&gt;  db.createUser(
                {
                user: "admin", //用户名
                pwd: "P@ssw0rd", //密码
                roles: [ { role: "userAdminAnyDatabase", db: "admin" } ] //权限
                }
                )
    </code>
   
</pre>
    创建用户名和密码
    <code>
        &gt;   use admin
        &gt;   db.createUser(
        {
        user: "admin", //用户名
        pwd: "P@ssw0rd", //密码
        roles: [ { role: "userAdminAnyDatabase", db: "admin" } ] //权限
        }
        );
    </code>
    停止mongodb服务 <code>&gt;  net stop mongodb </code>
    删除mongodb服务 <code>&gt;  sc delete mongodb </code>
    重新安装mongodb服务<code>A: &gt; mongod --auth --bind_ip 127.0.0.1 --logpath "E:\software\MongoDB\Server\data\log\mongodb.log" --logappend --dbpath "E:\software\MongoDB\Server\data\db" --port 27017 --serviceName "mongodb" --serviceDisplayName "mongodb" --install</code>
    登录 mongo 或 mongo --port 27017    或者指定用户登录 mongo --port 27017 -u "admin" -p "P@ssw0rd" --authenticationDatabase "admin"
    完成
</div>
