<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4><a href="https://www.linuxidc.com/Linux/2016-03/129204.htm">ssh无密码登录Centos 配置</a></h4>
    </div>
    <pre>
    yum install gedit 一路yes
    </pre>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4><a href="https://jingyan.baidu.com/article/9c69d48fb9fd7b13c8024e6b.html">ssh无密码登录ubuntu配置</a></h4>
    </div>
    <pre>
    sudo apt-get update
    sudo apt-get install openssh-server  回车Y
    sudo ps -e |grep ssh 查看服务是否启动
    sudo service ssh start 启动服务
    
    </pre>
    <pre>
    安装 gedit    
    sudo apt-get update 

    sudo apt-get install gedit-gmate    
             
    sudo apt-get install gedit-plugins  
             
    sudo apt-get remove gedit 

    sudo apt-get install gedit 


    gedit是一个GNOME桌面环境下兼容UTF-8的文本编辑器。
    它使用GTK+编写而成，因此它十分的简单易用，有良好的语法高亮
    ，对中文支持很好，支持包括gb2312、gbk在内的多种字符编码。
    gedit是一个自由软件。这是 Linux 下的一个纯文本编辑器,
    但你也可以把它用来当成是一个集成开发环境 (IDE), 
    它会根据不同的语言高亮显现关键字和标识符。

    在命令行下输入：gedit  回车即可
</pre>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>zsh安装 <a href="http://www.zsh.org/">官网</a></h4>
        <h5><a href="https://blog.csdn.net/u010138906/article/details/78778627">参考博客</a></h5>

    </div>
    <pre>
    CentOS 安装：sudo yum install -y zsh
    Ubuntu 安装：sudo apt-get install -y zsh
</pre>
</div>