@{
    ViewData["Title"] = "Node.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/robot-com.css" rel="stylesheet" />
<script src="~/js/robot-com.js"></script>
@section Scripts{
    <script>
    $(function () { tabPartial('@(Url.Action("action","node"))'); });
    </script>
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-3 col-md-3 col-sm-3 robotLNav">
            <div class="col-lg-12 col-md-12 col-sm-12">@ViewData["Title"]</div>
            <div id="RobotLeftNode" class="robotToggle col-lg-12 col-md-12 col-sm-12">
                <ul>
                    <li action="node1" class="active">1、入门了解 @ViewData["Title"]</li>
                    <li action="node2" class="">2、@ViewData["Title"]进阶（一）</li>
                    <li action="node3" class="">3、@ViewData["Title"] bower 和 npm 的区别详细介绍</li>
                    <li action="node4" class="">3、@ViewData["Title"] 简单入门爬虫实战</li>
                </ul>
            </div>
        </div>
        <div id="RobotRightNode" class="col-lg-9 col-md-9 col-sm-9 robotRNav">
            @{
                await Html.RenderPartialAsync("Node1");
            }
        </div>
    </div>
</div>



