<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>nodejs Nginx express jade </h4>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h5>部署结构</h5>
        <img src="~/nodejs/20180916/1.png" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h5>ssh无密码登录</h5>
        <img src="~/nodejs/20180916/s1.png" />
        <img src="~/nodejs/20180916/s2.png" />
        <img src="~/nodejs/20180916/s3.png" />
        <pre>
    Ubuntu Server 16.04.1 LTS 64位
    首先更新源 sudo apt-get update
    安装服务端 openssh(默认已安装) sudo apt-get install openssh-server （备注未安装 会有输入提示：输入大写的 Y）
    安装客户端 sudo apt-get install openssh-client（我这里是windows 不需要了,如果是两台linux系统双向登录 都得安装）
    
    ssh -l ubuntu 119.29.104.251     （ssh -l [用户名] [远程ip]）本地 ssh localhost
    测试登录成功后，

    生成ssh key（最好不要用root用户生成）
    ssh-keygen -t rsa -b 4096 -C "XXX@162.com" 回车默认 或者ssh-keygen -t rsa -P "" 、ssh-keygen 等
    @*ssh-keygen -t rsa -b 4096 -C "18810114757@163.com"*@
    将公钥追加到 authorized_keys 文件中 cat .ssh/id_rsa.pub >> .ssh/authorized_keys

    赋予 authorized_keys 文件权限 chmod 700 .ssh chmod 600 .ssh/authorized_keys
    ssh localhost  第一次需要输入 yes 

    测试登录成功后 本机基本设置已完成 以A为客户端B为服务端 执行以下命令
    
    ⑴复制 A 的公钥到 B 上 都是Linux
    ①scp robot@119.29.104.251:/home/robot/.ssh/id_rsa.pub /home/robot  （scp master_userName@master_ip:master_file A _folder）
    将 A 公钥追加到 B 的 authorized_keys 文件中，删除 A 公钥文件
    ②cat /home/robot/id_rsa.pub >> .ssh/authorized_keys
    ③rm /home/robot/id_rsa.pub     
    ④eval "$(ssh-agent -s)"  开启代理 
    ssh-add ~/.ssh/id_rsa   把key加入到代理中
    /etc/ssh/sshd_config  配置需要修改    添加或自改为 PermitRootLogin yes
        /etc/ssh/sshd_config默认端口是22 修改  最下面添加 
        AllowUsers ubuntu 保存重启ssh服务  sudo service ssh restart
        
        ubuntu 属于 sudo 用户组 
          addUser  ubuntu  输入密码 这里输入的信息最好记录一下XX.txt
          gpasswd -a ubuntu sudo  添加到sudo 组
                
          sudo visudo   更改内容如下 对用户生效
                    ubuntu ALL=(ALL:ALL) ALL  
                            1 all、 对所有sudo生效
                            2 all、 ubuntu可以以任何用户执行命令
                            3 all、 ubuntu可以以任何组执行命令
                            4 all、 ubuntu使用所有组
                           ctrl+s 回车 Y 
        禁用掉root登录 无密码登录 
        PermitRootLogin no
        PasswordAuthentication no
        PermitEmptyPasswords no
    sudo service ssh restart
    ⑵这里是windows直接通过putty 登录copy到 如果改了 port=22 --> port=30000 
        ssh  ubuntu@119.29.104.251
        ssh -p 30000  ubuntu@119.29.104.251
    完活
    sudo ps -e |grep ssh 查看服务是否启动
    sudo service ssh start" 服务就会启动
   
</pre>
 <h5><a href="https://blog.csdn.net/u010458114/article/details/70161486">content</a></h5>
 












   <pre class="hide">
    1. 安装openssh-server
    yum install -y openssl openssh-server
    2. 修改配置文件
    用vim打开配置文件/etc/ssh/sshd_config  将PermitRootLogin，RSAAuthentication，PubkeyAuthentication的设置打开。

    启动ssh的服务：

    systemctl start sshd.service
    设置开机自动启动ssh服务

    systemctl enable sshd.service
    设置文件夹~/.ssh的访问权限：

  



    查看状态：

    systemctl status sshd.service

    启动服务：

    systemctl start sshd.service

    重启服务：

    systemctl restart sshd.service

    开机自启：

    systemctl enable sshd.service

            <code>ssh-copy-id -i C:/Users/jack/.ssh/id_rsa.pub ubuntu@119.29.104.251 </code>
</pre>
        
    </div>
   
</div>