<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>知识思路图</h4>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>（一）</h4>
        <h5>结合文档或视屏，把基础的东西先敲一边，再来点入门简单的实战小案例。</h5>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>（二）</h4>
        <h5>如下图1</h5>
        <img src="~/nodejs/1.jpg" />
        <h5>图1备注</h5>
        <img src="~/nodejs/2.jpg" alt="白着急，俺还没到这一步呢" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>（三）</h4>
        <h5 >这里2018年暂时不更新了.....目前就布局到这里。</h5>
        <h5 class="hide">这里2018年暂时不更新了.....这里是高级进阶了，需要的知识面更广....努力学习中。</h5>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 hide ">
        <h5 class="text-hide">备注一下：个人习惯，不管什么语言，只要有兴趣，我个人会结合文档或视屏，把基础的先敲一边，至少会来两三个小例子，以备后续深入学习。</h5>
    </div>
</div>