<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>grunt、mocha</h4>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h5><a href="https://npm.taobao.org./package/grunt">grunt taobao package</a></h5>
        <h5><a href="https://www.gruntjs.net/">grunt中文网</a></h5>
    </div>
    <pre>
    备注 grunt grunt-cli 要加 -g   需要管理员的权限

    cnpm install grunt -g

    cnpm install -g grunt-cli

    cnpm install grunt-concurrent

    cnpm install grunt-contrib-watch

    cnpm install grunt-nodemon
</pre>

     

    <div class="col-lg-12 col-md-12 col-sm-12">
        <h5><a href="https://npm.taobao.org./package/mocha">mocha taobao package</a></h5>
        <h5><a href="https://mochajs.org/">mocha</a></h5>
    </div>
    <pre>
    备注 mocha 项目下安装即可 不要加 -g

    cnpm install mocha  
</pre>
</div>
