<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>1、全局安装 出现的问题</h4>
        <h5>VSCode 安装 <code>express</code></h5>
        <h5><code>Error: EPERM: operation not permitted, mkdir 'C:\Program Files\nodejs\node_modules\express-generator_tmp'</code></h5>
        <img src="~/nodejs/20180831/2.jpg" />
        <h5>win10:<code>win+x</code> 以管理员身份运行和普通用户对比，安装<code>express</code></h5>
        <h5>普通用户:<code>Error: EPERM: operation not permitted, mkdir 'C:\Program Files\nodejs\node_modules\express-generator_tmp'</code></h5>
        <h5>管理员：成功</h5>
        <img src="~/nodejs/20180831/1.jpg" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>2、临时安装 如下图所示</h4>
        <img src="~/nodejs/20180831/3.jpg" />
        <img src="~/nodejs/20180831/4.jpg" />
    </div> 
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>3、安装依赖包：<code>cnpm install</code> </h4>
        <img src="~/nodejs/20180831/5.jpg" />
        <h5>4、express web 框架搭建完成 </h5>
        <h5><a href="http://www.expressjs.com.cn/" target="_blank"><code>Express</code></a> </h5>
    </div>
</div>