<div class="col-lg-12 col-md-12 col-sm-12">
    <h4>nodejs-websocket 实现简易聊天室</h4>
    <h4>创建ws文件夹，并且在文件夹下添加server.js、client.html、client.html、client.html、client.html、client.html等文件，安装 nodejs-websocket <code>&gt;  cnpm i nodejs-websocket</code></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
</div>