<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>知识思路图</h4>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>（一）</h4>
        <h5>结合文档或视屏，把基础的东西先敲一边，再来点入门简单的实战小案例。</h5>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>（二）</h4>
        <h5>如下图1</h5>
        <img src="~/nodejs/1.jpg" /> 
        <a href="https://www.jianshu.com/p/c8df477c6766">nodejs背景参考</a>
        <pre>
            特性
            Node.js库的异步和事件驱动的API全部都是异步就是非阻塞。它主要是指基于Node.js的服务器不会等待API返回的数据。服务器移动到下一个API调用，Node.js发生的事件通知机制后有助于服务器获得从之前的API调用的响应。

            非常快的内置谷歌Chrome的V8 JavaScript引擎，Node.js库代码执行是非常快的。

            单线程但高度可扩展 - Node.js使用具有循环事件单线程模型。事件机制有助于服务器在一个非阻塞的方式响应并使得服务器高度可扩展，而不是创建线程限制来处理请求的传统服务器。Node.js使用单线程的程序，但可以提供比传统的服务器(比如Apache HTTP服务器)的请求服务数量要大得多。

            没有缓冲 - Node.js的应用从来不使用缓冲任何数据。这些应用只是输出数据在块中。

            许可证协议 - Node.js 在 MIT 协议 下发布
        </pre>
        <pre>
        I/O 绑定应用程序

        数据流应用

        数据密集型实时应用(DIRT)

        JSON API的应用程序

        单页面应用

        不建议使用Node.js的就是针对CPU密集型应用。7
</pre>
    
    </div>
   
   
</div>