<div class="col-lg-12 col-md-12 col-sm-12">
    <h4>即时通讯入门篇  nodejs-websocket模块 </h4>
    <h5>1、创建websocket文件夹，安装nodejs-websocket模块 <code>cnpm i nodejs-websocket</code></h5>
    <h5>2、在websocket文件夹下创建server.js、client.html文件</h5>
    <h5>3、server.js代码如下</h5>
    <pre>
        var ws=require('nodejs-websocket');
        const port = 3000;
        console.log("开始建立连接.....")   
        var server=ws.createServer((connection)=>{    
            console.log("开始建立websocket连接.....")   
            connection.on('text',(data)=>{
                connection.sendText(data)//回发数据到客户端
            })
            connection.on('close',(code,error)=>{
                console.log(code,'关闭连接',error)
            })
            connection.on('error',(code,error)=>{
                console.log(code,'异常关闭',error)
            })
        })

        server.listen(port,function(){
            console.log('WebSocket建立完毕.......')
        })
    </pre>
    <h5>4、client.html代码如下</h5>
    <pre>
        <xmp>
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>client</title>
            </head>
            <body>

                内容 <input id="onemsg">
                <button id='btn'>发送 </button>
                <div id="one"></div>
                <script>
        var flg=true
        var html=document.getElementById('one')
     if(window.WebSocket)
         {
            var ws = new WebSocket('ws://localhost:3000')
            ws.onopen=(e)=>{
              console.log('连接服务器成功')
              var time = new Date();
              var text="{t:'"+time+"',name:'张三',msg:'发送测试信息成功！！'}"
              ws.send(text)
            }
            ws.onclose=(e)=>{
              console.log('服务器关闭')
            }
            ws.onerror=(e)=>{
              console.log('连接出错')
            }
            ws.onmessage=(e)=>{
                var d=eval('('+e.data+')')
                html.innerHTML += "<div>"+d.t+" "+d.name+"说："+d.msg+"</div>"
                document.querySelector("#btn").onclick = function(e){
                    var time = new Date();
                    var text="{t:'"+time+"',name:'张三',msg:'"+document.getElementById('onemsg').value+"'}"
                    ws.send(text);
                }

            }
       }else
       {
           alert('不支持WebSocket')
       }
                </script>
            </body>
        </html>
        </xmp>
</pre>
  
    
    
</div>