<div class="col-lg-12 col-md-12 col-sm-12">
    <h4>nodejs 入门简单爬虫案例</h4>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
    <h5><a href="https://npm.taobao.org./">淘宝 NPM 镜像 </a></h5>
    <h5><a href="https://npm.taobao.org./package/gbk">乱码处理,安装 cnpm i gbk ，转换utf-8</a></h5>
    <h5><a href="https://npm.taobao.org./package/jsdom">虚拟dom环境,安装 cnpm i jsdom 获取信息 </a></h5> 
    <h5><a href="https://npm.taobao.org./package/segment">中文分词模块,安装 cnpm install segment 获取信息 </a></h5>
</div>

