<div class="col-lg-12 col-md-12 col-sm-12">
    <h4>nodejs-websocket模块</h4>
    <h5>1、创建websocket文件夹，安装nodejs-websocket模块 <code>cnpm i nodejs-websocket</code></h5>
    <h5>2、在websocket文件夹下创建index.js、index.html、index2.html文件，简易聊天室</h5>
    <h5>3、index.js代码如下</h5>
    <pre>

</pre>
    <h5>4、index.html代码如下</h5>
    <pre>

</pre>
    <h5>5、index2.html代码如下</h5>
    <pre>

</pre>
    <h5>3、index.js代码如下</h5>

</div>