<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h4>node + express 项目实战</h4>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="~/nodejs/20180905/1.jpg" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="~/nodejs/20180905/2.jpg" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="~/nodejs/20180905/3.jpg" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="~/nodejs/20180905/4.jpg" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="~/nodejs/20180905/5.jpg" />
        <pre>
             1、windows 权限问题 需设置一下
             2 、npm install -g cnpm --registry=https://registry.npm.taobao.org bower -g
        </pre>
    </div>
  
    <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="~/nodejs/20180905/6.jpg" />
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="~/nodejs/20180905/7.jpg" />
    </div>

</div>